In [1]:
print('Hello World')

Hello World

In [2]:
age=32
print("My age is :",age)

My age is : 32

In [4]:
## f string (used for formatting)
print(f"My age is : {age}")

My age is : 32

In [5]:
##format()
name="Mriganshu"
age=22
print("My name is {} and age is {}".format(name, age))

My name is Mriganshu and age is 22

In [7]:
##placeholder (We may have 100 parameters)
print("My name is {firstname} and age is {firstage}".format(firstname=name,firstage=age))

My name is Mriganshu and age is 22

In [11]:
name="Mriagnshu Bora"
age= 22
degree="Btech"
print("My age is {} and I have completed {} with the name of {}".format(age,degree, name))

My age is 22 and I have completed Btech with the name of Mriagnshu Bora

In [ ]:
## Control Flow
###Decision making Statements

In [27]:
## If Statements
age = 18
if age>=18:print('You are eligible to vote')

You are eligible to vote

In [14]:
name=input("Enter the name")

Enter the name Mriganshu Bora

In [15]:
name

'Mriganshu Bora'

In [16]:
age=int(input('Enter your age'))

Enter your age 22

In [17]:
age

22

In [18]:
type(age)

int

In [24]:
##Task
age=int(input('Enter your age'))
if age>=18 and age<=45:
    print('You are young blood')
else:
    print('you are not')

Enter your age 16

you are not

In [26]:
price=int(input('input the product price'))
if price>1000:
          print("The price of the product is {}". format(price*0.8))
else:
          print("The print of the product is {}".format(price*0.7))

input the product price 4000

The price of the product is 3200.0

LOOP STATEMENTS

1. while loop
2. for loop
3. Nested Loop
4. Loop Control(break, continue, pass)

In [28]:
#while loop
joining_age=25
while joining_age<=60:
    joining_age=joining_age+1
    print(joining_age)
else:
    print("It's time for retirement")

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
It's time for retirement

In [ ]:
number=int(1,2,3,4,5,6,7)

In [43]:
number=[1,2,3,4,5,6,7]
for i in number:
    print(i)

1
2
3
4
5
6
7

In [30]:
#range
for i in range(1,6):
    print(i)

1
2
3
4
5

In [32]:
for i in range(1,12,2):
    print(i)

1
3
5
7
9
11

In [33]:
#Nested Loops
n=7

for i in range(0,n):
    for j in range(0, i+1):
        print("*",end="")

****************************

In [34]:
#Nested Loops
n=7

for i in range(0,n):
    for j in range(0, i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [46]:
##Loop Controls
##Break and Continue
fruits_list = ["Mango", "cherry","Apple","Papaya"]

for i in fruits_list:
    print(i)

Mango
cherry
Apple
Papaya

In [47]:
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        break
    print(i)

Mango
cherry
The fruit is apple

In [48]:
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        pass
    print(i)

Mango
cherry
The fruit is apple
Apple
Papaya

In [49]:
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        continue
    print(i)

Mango
cherry
The fruit is apple
Papaya